body {
  background-color: #f9ecec;
  font-family: "Kanit", sans-serif;
  max-width: 550px;
  margin: 0 auto;
}
.App h1 {
  display: inline;

  font-weight: bold;
  font-size: 40px;
}
.App .logo {
  margin-right: 20px;
}
.App footer {
  text-align: center;
  margin: 30px;
}

.App .App-header {
  margin: 20px 0;
  text-align: center;
  font-size: 50px;
}
.App .dictionary {
  max-width: 100px;
  margin: 0 auto;
}
