.Synonyms h2 {
  margin-top: 20px;
}
.Synonyms ul {
  text-transform: capitalize;
  color: #666;
  list-style: none;
  display: inline-flex;
  padding: 0;
  font-size: 11px;
}
.Synonyms li {
  margin-right: 10px;
}
